<div class="well">
  <%= form_for @url, url:create_url_path do |f| %>
  <div class="row">
    <div class="col-xs-8">
      <%= f.text_field :original, class:"form-control",
       placeholder:"Paste long URL here" %>
    </div>
    <%= f.submit 'Shorten it!', class:"btn btn-primary" %>
  </div>
  <% end %>
</div>

<% if flash.alert %>
<div class="alert alert-danger alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <%= flash.alert %>
</div>
<% end %>

<table class="table table-striped">
  <thead>
    <tr>
      <td>Original URL</td>
      <td>Shortened URL</td>
      <td class="hidden-xs">Created at</td>
      <td class="hidden-xs">Visited</td>
    </tr>
  </thead>
  <tbody>
    <% @urls.each do |url| %>
    <tr>
      <%= content_tag :td, link_to(url.original.truncate(60), url.original,
       target:"_blank") %>
      <%= content_tag :td, link_to(url.shorten, goto_url_path(url.shorten),
       target:"_blank") %>
      <%= content_tag :td, url.created_at.strftime('%F'), class:"hidden-xs" %>
      <%= content_tag :td, url.counter, class:"hidden-xs" %>
    </tr>
    <% end %>
  </tbody>
</table>
