url#index <br>
<%= form_for @url, url:create_url_path do |f| %>
<div class="form-inline">
  <%= f.text_field :original, class:"form-control" %>
  <%= f.submit 'Shorten it!', class:"btn btn-primary" %>
<%= content_tag :span, flash.notice, class:"alert" if flash.notice %>
</div>
<% end %>
<%= render @urls %>
